/* header  */

header .navbar-nav .nav-item:hover a {
  /* important được sử dụng khi muốn đè hết tất cả các css của thuộc tính đang được sử dụng */
  color: green !important;
}

header .navbar-nav .nav-item {
  position: relative;
}

header .navbar-nav .nav-item::before {
  content: "";
  background-color: green;
  width: 0;
  height: 3px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s;
}

header .navbar-nav .nav-item:hover::before {
  width: 100%;
}

header .navbar-nav .active a {
  color: green !important;
}

header .navbar-nav .active::before {
  width: 100%;
}

/* carousel  */
.carousel .carousel-item {
  height: 100%;
  position: relative;
}

.carousel .carousel-item img {
  height: 100%;
}

.carousel .carousel-item div {
  /* Cách 2 dùng để canh giữa nội dung  */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(39, 43, 54, 0.5);
  color: white;
}

.carousel .carousel-item div img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.carousel .carousel-item div h2 {
  font-size: 56px;
}

.carousel .carousel-item div p {
  font-size: 24px;
}

/* project css  */

.project .nav-pills .nav-link.active {
  color: white !important;
  background-color: green;
  border-color: green !important;
}

.project .tab-content .project_item:hover h3 {
  color: green;
}

.project .tab-content .project_item .item_text {
  transition: all 0.5s;
  border-radius: 0 0 16px 16px;
  /* trước khi hover sẽ tạo sẵn một border và dùng transparent để có một border ẩn đi  */
  border: 1px solid transparent;
  border-top: none;
}

.project .tab-content .project_item:hover .item_text {
  /* khi hover thay đổi màu border để có thể nhận thuộc tính transition vì transition chỉ làm chậm hiệu ứng chuyển đổi không làm chậm việc tạo ra  */
  border-color: green;
}

/* available css  */
.available {
  background-image: url("./../image/3.jpg");
  background-attachment: fixed;
  position: relative;
}

.available::before {
  content: "";
  background-color: rgba(7, 10, 12, 0.72);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.available .avai_item {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* mobile <576px  */
/* sử dugn @media để reponsive cho các thiết bị khác  */
/* có 2 loại gía trị sử dụng đó là max-width và min-width   */
/* max-width thường đươc dành cho việc xuử lý các giao diện hiển thị trên các thieets bị nhỏ hơn khi đã có gaio diện trên màn hiknhf lớn  */
khi
  sử
  dung
  j
  max-width
  sẽ
  đi
  từ
  các
  thieet
  bị
  lớn
  cho
  tới
  các
  thiết
  bị
  lớn
  @media
  screen
  and
  (max-width: 576px) {
  .project .tab-pane .row {
    width: 100%;
    margin: 0 auto;
  }
  .available .avai_item {
    margin-bottom: 20px;
  }
}

/* min-width tức nghiakx là từ giá trị đó đi tới dương vô cực  */
/* lưu ý khi sử dụng min-width thì sẽ reponsive cho các vùng từ nhỏ tới lướn các giá trị màn hình lớn hơn sẽ nằm ở dứoi  */
s @media screen and (min-width: 576px) {
  .carousel .carousel-item h2 {
    color: orange;
  }
}
@media screen and (min-width: 992px) {
  .carousel .carousel-item h2 {
    color: red;
  }
}
